{
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        },
        "baseUrl": "./",
        "paths": {
            "@/*": [
                "./src/*"
            ]
        }
    },
    "module": {
        "type": "nodenext",
        "resolveFully": true,
        "strict": true
    },
    "minify": false
}
